@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-bodybg;
    @apply text-xl;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }
}
@layer components {
  #root {
    @apply flex;
    @apply flex-col;
    @apply mx-auto;
  }
}
