@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bodybg;
    @apply text-xl;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }
}
@layer components {
  .ordered-list li:last-child {
    padding-bottom: 1rem;
  }
  .footer-text {
    color: white;
    transition: color 0.4s ease-in-out;
  }

  .footer-text:hover {
    background-image: linear-gradient(to right, #2e5fcf, #9a09a1, #be2424);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  @media screen and (max-width: 767px) {
    footer {
      bottom: 0;
    }
  }
}
